aclocal.m4
compile
autom4te.cache
autoregen.sh
config.*
configure
libtool
INSTALL
Makefile.in
depcomp
install-sh
ltmain.sh
missing
stamp-*
*~
*.la
*.lo
.libs
.deps
.kdev*
Makefile
.cproject
.project
*.swp
*kdev4
*.log
*.trs
*.o
*.reg
sub
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
gstdtls-enumtypes.c
gstdtls-enumtypes.h
.directory
*.tmp
COPYING
*.orig
